## Introduction to Pandas

<img src="https://raw.githubusercontent.com/fralfaro/DS-Cheat-Sheets/main/docs/examples/pandas/pandas.png" alt="numpy logo" width = "300">

[Pandas](https://pandas.pydata.org/) is built on NumPy and provides easy-to-use
data structures and data analysis tools for the Python
programming language.

## Install and import Pandas

`
$ pip install pandas
`

In [ ]:
# Import Pandas convention
import pandas as pd

## Pandas Data Structures

### Series

<img src="https://raw.githubusercontent.com/fralfaro/DS-Cheat-Sheets/main/docs/examples/pandas/serie.png" alt="numpy logo" >

A **one-dimensional** labeled array a capable of holding any data type.

In [ ]:
# Import pandas
import pandas as pd

# Create a pandas Series representing monthly sales data
sales_data = pd.Series(
    [1500, 1200, 1800, 1600, 1300, 1700, 1400, 1500, 1600, 1800],
    index=['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct']
)

# Print the pandas Series
print("Monthly Sales Data:")
print(sales_data)

### DataFrame

<img src="https://raw.githubusercontent.com/fralfaro/DS-Cheat-Sheets/main/docs/examples/pandas/df.png" alt="numpy logo" >

**two-dimensional** labeled data structure with columns of potentially different types.

In [ ]:
# Create a pandas DataFrame with more instances
data = {
    'country': ['United States', 'China', 'Japan', 'Germany', 'United Kingdom', 'India', 'France', 'Italy', 'Brazil', 'Canada'],
    'capital': ['Washington, D.C.', 'Beijing', 'Tokyo', 'Berlin', 'London', 'New Delhi', 'Paris', 'Rome', 'BrasÃ­lia', 'Ottawa'],
    'population': [331449281, 1393000000, 126476461, 83783945, 67886011, 1303171035, 67186600, 60277900, 211050000, 37742154],
    'GDP': [21.44, 14.34, 5.07, 4.01, 2.99, 3.11, 2.78, 2.15, 1.77, 1.73]
}
df = pd.DataFrame(
    data,
    columns=['country', 'capital', 'population', 'GDP']
)

# Print the DataFrame 'df'
print("\ndf:")
df

## Read csv files

In [ ]:
df = pd.read_csv('./data/covid19-og.csv')
df

In [ ]:
# Load the first 10 rows of the AirBnb NYC 2019 dataset for quick inspection
nyc = pd.read_csv('./data/AirBnb_NYC_2019.csv', index_col=0, nrows=10)
nyc

In [ ]:
# Load the dataset with multi-level indices and headers
df = pd.read_csv('./data/multi_index_warehouses.csv', index_col=[0,1,2], header=[0,1])
df

## Read Excel files

In [ ]:
pd.read_excel('./data/covid19.xlsx')

## Read JSON files

In [ ]:
pd.read_json('./data/admits.json').sort_index()

In [ ]:
admits = pd.read_csv('./data/admits.csv')
admits

## Renaming indices/columns

In [ ]:
df.rename({'Los Angeles':'LA'},axis=0)
# This is a new object as we haven't set inplace=True, so this will not impact the original dataframe

In [ ]:
df.rename({2010: 20100}, axis=1)
# This is a new object as we haven't set inplace=True, so this will not impact the original dataframe

## Getting Elements

## Sorting

In [ ]:
# Sort by labels along an axis
df.sort_index()

In [ ]:
# Sort by the values along an axis
df.sort_values(by='country')

In [ ]:
# Get one element from a Series
sales_data['jan']

# another way to do it
sales_data.jan

In [ ]:
# Get subset of a DataFrame
df[1:]

## Selecting, Boolean Indexing & Setting

In [ ]:
# Select single value by row & 'Belgium' column
df.iloc[[0],[0]]

In [ ]:
# Select single value by row & 'Belgium' column labels
df.loc[[0], ['country']]

In [ ]:
# Select single row of subset of rows
df.loc[2]
# print(type(df.loc[2]))

In [ ]:
# Select a single column of subset of columns
df.loc[:,'capital']
# df['capital']

In [ ]:
# Boolean indexing - Series sales_data where value is not > 1
sales_data[~(sales_data > 1)]

In [ ]:
# Boolean indexing - sales_data where value is <-1 or >2
sales_data[(sales_data < -1) | (sales_data > 2)]

In [ ]:
# Use filter to adjust DataFrame
df[df['population'] > 1200000000]

In [ ]:
# Setting index a of Series sales_data to 6
sales_data['may'] = 60000
sales_data

## Dropping

In [ ]:
# Drop values from rows (axis=0)
sales_data.drop(['may', 'mar'])

In [ ]:
# Drop values from columns (axis=1)
df.drop('country', axis=1)

## Applying Functions

In [ ]:
# Define a function
f = lambda x: x*2

In [ ]:
# Apply function to DataFrame
df.apply(f)

In [ ]:
# Apply function element-wise
df.applymap(f)

In [ ]:

df["country"] = df["country"].apply(lambda x: x.upper())

df

## TQDM with pandas

In [ ]:
import time
def placeholder_function(x):
    time.sleep(0.5)
    return x.upper()

In [ ]:
from tqdm import tqdm
# Create new `pandas` methods which use `tqdm` progress
# (can use tqdm_gui, optional kwargs, etc.)
tqdm.pandas()

df["country"] = df["country"].progress_apply(placeholder_function)

df

In [ ]:
# Even better progress bar
from tqdm.auto import tqdm
# Create new `pandas` methods which use `tqdm` progress
# (can use tqdm_gui, optional kwargs, etc.)
tqdm.pandas()

df["country"] = df["country"].progress_apply(placeholder_function)

df

## Basic Information

In [ ]:
# Get the shape (rows, columns)
df.shape

In [ ]:
# Describe index
df.index

In [ ]:
# Describe DataFrame columns
df.columns

In [ ]:
# Info on DataFrame
df.info()

In [ ]:
# Number of non-NA values
df.count()

In [ ]:
df["country"].value_counts()

## Summary

In [ ]:
# Sum of values
sum_values = df['population'].sum()

# Cumulative sum of values
cumulative_sum_values = df['population'].cumsum()

# Minimum/maximum values
min_values = df['population'].min()
max_values = df['population'].max()

# Index of minimum/maximum values
idx_min_values = df['population'].idxmin()
idx_max_values = df['population'].idxmax()

# Summary statistics
summary_stats = df['population'].describe()

# Mean of values
mean_values = df['population'].mean()

# Median of values
median_values = df['population'].median()

print("Example DataFrame:")
print(df)

print("\nSum of values:")
print(sum_values)

print("\nCumulative sum of values:")
print(cumulative_sum_values)

print("\nMinimum values:")
print(min_values)

print("\nMaximum values:")
print(max_values)

print("\nIndex of minimum values:")
print(idx_min_values)

print("\nIndex of maximum values:")
print(idx_max_values)

print("\nSummary statistics:")
print(summary_stats)

print("\nMean values:")
print(mean_values)

print("\nMedian values:")
print(median_values)

In [ ]:
# easier way to get the summaries
df.describe()
# df.describe().T

## Introduction to data profiling

In [ ]:
from ydata_profiling import ProfileReport
profile = ProfileReport(df, title="Profiling Report",explorative=True)
# profile.to_widgets()
# profile.to_notebook_iframe()
# profile.to_file("your_report.html")

## Internal Data Alignment

In [ ]:
# Create Series with different indices
import pandas as pd

# Create a pandas Series representing monthly sales data
sales_data_1 = pd.Series(
    [1500, 1200, 1800, 1600, 1300, 1700, 1400, 1500, 1600, 1800],
    index=['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct']
)

# Print the pandas Series
print("Monthly Sales Data:")
print(sales_data)

# Create a pandas Series representing monthly sales data with different values
sales_data_2 = pd.Series(
    [500, 300, 700, 800, 600, 900, 1000, 1100, 1200, 1300],
    index=['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct']
)

# Print the pandas Series
print("Monthly Sales Data:")
print(sales_data)

In [ ]:
# Add two Series with different indices
result = sales_data_1 + sales_data_2
result

## Arithmetic Operations with Fill Methods

In [ ]:
sales_data_1 = pd.Series(
    [1500, 1200, 1800, 1600, 1300, 1400, 1500, 1600],
    index=['jan', 'feb', 'mar', 'apr', 'jun', 'jul', 'aug', 'sep']
)
sales_data_2 = pd.Series(
    [500, 700, 800, 600, 900, 1000, 1100, 1300],
    index=['feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'oct']
)

# Perform arithmetic operations with fill methods
result_add = sales_data_1.add(sales_data_2, fill_value=10000)
result_sub = sales_data_1.sub(sales_data_2, fill_value=10000)
result_div = sales_data_1.div(sales_data_2, fill_value=10000)
result_mul = sales_data_1.mul(sales_data_2, fill_value=10000)

result_combined = pd.DataFrame({
    'sales_data_1': sales_data_1,
    'sales_data_2': sales_data_2,
    'result_add': result_add,
    'result_sub': result_sub,
    'result_div': result_div,
    'result_mul': result_mul
})

result_combined

## Asking For Help

In [ ]:
# Display help for a function or object
help(pd.Series.loc)

## Saving to json

In [ ]:
admits.to_json(orient='columns')

In [ ]:
admits.to_json(orient='values')

In [ ]:
admits.to_json(orient='index')

In [ ]:
admits.to_json('data/split_json.json', orient='split')

In [ ]:
pd.read_json('data/split_json.json', orient='split')

In [ ]:
admits.to_json(orient='records')

In [ ]:
admits.to_json(orient='table')

1. orient='columns'
2. orient='index'
3. orient='values'
4. orient='records'
5. orient='table'
6. orient='split'

In [ ]:
admits.to_csv('data/admits_new.csv', index=False)

In [ ]:
df

## .loc[ ] method

In [ ]:
# Select data for 'Mobile' in 'San Diego' within 'CA Warehouses' for the second half of 2010
df.loc[('CA Warehouses', 'San Diego', 'Mobile'), (2010, 'Jul-Dec')]

In [ ]:
df.loc[('NY Warehouses'):, :]

In [ ]:
df.index.names = ['State', 'City', 'Product']
df.columns.names = ['Year', 'Semester']

In [ ]:
df.columns

In [ ]:
df

In [ ]:
df

In [ ]:
# Select data in 'df' for rows from ('CA Warehouses', 'San Francisco', 'AC') to
# ('NY Warehouses', 'Ithaca', 'Mobile') and columns from (2012, 'Jul-Dec') to 2015.
df.loc[('CA Warehouses', 'San Francisco', 'AC'):('NY Warehouses', 'Ithaca', 'Mobile'),
       (2012, 'Jul-Dec'):(2015)]

In [ ]:
df[(2011, 'Jan-Jun')]

In [ ]:
df.loc['NY Warehouses':'TX Warehouses', :]

## Slicing ranges ( using [ ] )

In [ ]:
nyc[1:5]

In [ ]:
nyc[['host_name', 'neighbourhood']]

In [ ]:
nyc[[True, False, True, False,True, False, True, False,True, False]]

## Selection by label (df.loc)

In [ ]:
nyc.loc[2595:5022, 'host_name':]

## Selection by position (df.iloc)

In [ ]:
nyc.iloc[[0,5,7,9], 4:8]

## df.at[ ]

In [ ]:
nyc.at[3647, 'neighbourhood_group']

## df.iat[ ]

In [ ]:
nyc.iat[2,3]

## df.isin( )

In [ ]:
nyc[nyc['neighbourhood_group'].isin(['Manhattan'])]

In [ ]:
crit = {'neighbourhood_group':['Manhattan'], 'room_type':['Private room']}
crit

In [ ]:
nyc.isin(crit)

## df.where( )

In [ ]:
nyc.where(nyc['price'] < 100)

## df.mask( )

In [ ]:
nyc.mask(nyc['price'] < 100)

## df.query( )

In [ ]:
nyc.query('neighbourhood_group == "Manhattan" & price < 100 & availability_365 > 50')

## df.get( )

In [ ]:
nyc.get("name")

## df.sample( )

In [ ]:
nyc.sample(5, replace=False, weights=[0,5,5,8,14,25,8,1,5,8])

## df.set_index( )

In [ ]:
x = pd.Series([1,2,3,4,5,6,7,8,9,10])
x

In [ ]:
nyc.set_index(x, inplace=True)

In [ ]:
nyc

## df.reset_index( )

In [ ]:
nyc = nyc.set_index('name')

In [ ]:
nyc.reset_index(inplace=True)

In [ ]:
nyc

## merge

In [ ]:
df = pd.DataFrame({
    'Brand': ['Tata', 'Tesla', 'Audi', 'BMW'],
    'Location': ['India', 'US', 'Germany', 'Germany'],
    'Model':['Ace', '3', 'Q3', 'Z4'],
    'Sales': [100,75,84,92]
})
df

In [ ]:
df = pd.read_csv('data/cars_us_jp_eu_clean.csv')
df.head(10)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('data/pokedex.csv', index_col=0)
df.head()

In [ ]:
df.columns

In [ ]:
cols_to_keep = ['name', 'generation',
       'status', 'species', 'type_1', 'type_2', 'height_m',
       'weight_kg', 'abilities_number', 'ability_1', 'ability_2',
       'total_points', 'hp', 'attack', 'defense',
       'sp_attack', 'sp_defense', 'speed',
       'percentage_male','against_normal',
       'against_fire', 'against_water', 'against_electric', 'against_grass',
       'against_ice', 'against_fight', 'against_poison', 'against_ground',
       'against_flying', 'against_psychic', 'against_bug', 'against_rock',
       'against_ghost', 'against_dragon', 'against_dark', 'against_steel',
       'against_fairy']

In [ ]:
df = df[cols_to_keep]
df.shape

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
g = df.groupby(by='brand')
g

In [ ]:
g.groups

In [ ]:
g.get_group('Europe')

In [ ]:
g.mean()

In [ ]:
g.agg('mean')

In [ ]:
g.agg(np.mean)

In [ ]:
g.agg({'mpg':'mean', 'cylinders':np.max, 'hp':'median'})

In [ ]:
df.groupby(['brand', 'cylinders']).median()

In [ ]:
g.mean()

In [ ]:
g.filter(lambda sub_df: sub_df['weightlbs'].median() > 2400)

In [ ]:
df.isna().sum()

In [ ]:
df[df.weightlbs.isna()]

In [ ]:
dummy_df = pd.DataFrame({
    'col1': [1,2,3,4,5,6],
    'col2': list('abcdef')
})

dummy_df

In [ ]:
dummy_df['new_col'] = dummy_df['col1'].transform(lambda val: val+10)

In [ ]:
dummy_df

In [ ]:
df.isna().sum()

In [ ]:
df[df.weightlbs.isna()]

In [ ]:
df['weightlbs'] = g['weightlbs'].transform(lambda series: series.fillna(series.mean()))

In [ ]:
df.isna().sum()

In [ ]:
g.mean()

In [ ]:
df.loc[172, 'weightlbs']

In [ ]:
df['age_of_car'] = df['year'].transform(lambda year: 2020 - year)

In [ ]:
df.head()

In [ ]:
# grouper

In [ ]:
c = pd.read_csv('data/covid19-og.csv', index_col=0, parse_dates=[0], dayfirst=True)
c.head()

In [ ]:
c.groupby(pd.Grouper(level='dateRep', freq='1m')).sum()

### Check the available list of frequencies here:

https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#dateoffset-objects

In [ ]:
df.groupby(pd.Grouper(key='brand')).mean()

In [ ]:
g.mean()

## join

In [ ]:
sci = pd.DataFrame({'name':'Wayne Frank Pat Tony Lee Sol'.split(' '),
                     'sci':[41,51,87,71,87,47]})
sci.set_index('name', drop=True, inplace=True)
sci

In [ ]:
geo = pd.DataFrame({'name':['Rocky', 'Wayne', 'Leo', 'Frank', 'Andre', 'Tony', 'Sol'],
                     'geo':[55,17,41,28,88,24,90]})
geo.set_index('name', drop=True, inplace=True)
geo

In [ ]:
sci2 = pd.DataFrame({'name':['Rocky', 'Jason', 'Leo', 'Michael', 'Andre', 'Tony', 'Sol'],
                     'sci2':[55,17,41,28,88,24,90]})
sci2.set_index('name', drop=True, inplace=True)
sci2

In [ ]:
sci.join(geo, how='inner')

In [ ]:
geo2 = geo.reset_index()
geo2

In [ ]:
# in the tutorial video, I showed how the lsuffix, rsuffix arguments work using 'sci' dataframe,
# but that required manipulating the original sci dataframe which would mess with other code cells.
# hence here I've changed the sci dataframe to geo, to demonstrate how and when the l/r suffix
# arguments are needed.
geo2.join(geo, on='name', how='inner', lsuffix='_left')

In [ ]:
# geo, sci, sci2

geo.join([sci, sci2], how='inner')

## concat

In [ ]:
sci

In [ ]:
geo

In [ ]:
x = pd.concat([sci, geo], sort=False, axis=0, keys=['a', 'b'])
x

In [ ]:
x.loc['a']

In [ ]:
pd.concat([sci, geo], axis=1, sort=False, join='outer', keys=['a', 'b'])

## append

In [ ]:
sci.append(geo, sort=False)